
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');

body{
    width:100%;
    background: url("https://us.123rf.com/450wm/sorrapongs/sorrapongs1705/sorrapongs170500071/94284374-resumen-marr%C3%B3n-reciclado-fondo-de-textura-de-papel.jpg?ver=6"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left:0 !important;;
    padding-right:0 !important;;
}
/*tipografias*/
.titlePrincipal{
    font-family: 'UnifrakturCook', cursive;
    font-size:5em;
    text-align:center;
}
.titleHeader{
    text-align:center;
    font-weight: 600;
}
.textHeader{
    font-size:0.8em;
    text-align:center;
    padding:0;
}
.headingMetaText{
    font-weight: 600;
    font-size:0.8em;
    font-weight: 600;
}

.issueMeta{
    text-align:left;
    padding:15px 0px 7px 0px;
    line-height: 0px;
    font-weight: 600;
}
.dateMeta{
    text-align:center;
    padding:15px 0px 7px 0px;
    line-height: 0px;
    font-weight: 600;
}
.titleMeta{
    text-align:right;
    padding:15px 0px 7px 0px;
    line-height: 0px;
    font-weight: 600;
}
.parrafo_Cursiva{
    text-align:center;
    font-style: oblique;
    padding:0px 10px 7px 10px;
    line-height: 1;
    font-size:0.8;
}
.font_Capitalize{
    font-family: 'Diplomata', cursive;
    font-weight:600;
    font-size:2em;
}
.textContent{
    text-align: justify;
}
.titleArticle{
    text-align: center;
    font-family: 'Diplomata', cursive;
    font-size:1.2em;
}
.headingContent{
    text-align:center;
    font-weight:600;
}
.title_Secundary{
    text-align: left;
    font-family: 'Diplomata', cursive;
    font-size:1.5em;
    font-weight: 300;
}
.parrafo_Cursiva_Column{
    text-align:justify;
    font-style: oblique;
    line-height: 1;
    font-size:1em;
    padding:0;
}
p{
line-height: 1;
margin-bottom:20px;
}

/*Contenedores*/
p{
    margin-bottom:0 !important;
}
.containerHeader{
   margin-top:20px;
}
.containerHeaderLaterality{
    border:3px solid #000;
    padding:10px 10px 10px 0px;
}
.headingMetaText{
border-top:3px solid #000;
border-bottom: 3px solid #000;
margin-bottom:30px;
}
.textContent{
    margin-top:20px;
    margin-bottom:20px;
}
.headingContent{
    border:3px solid #000;
    padding:5px;
}
.Secundary_Article{
    padding:0px 10px 0px 10px;
}
.columnas_Dobles{
    padding:10 0 10px 0px;
}
.container_Border{
    border-top:3px solid #000;
    border-bottom:3px solid #000;
    padding:10px;
    margin-top:20px;
}
.container_Border_Top{
    border-top:3px solid #000;
    margin-top:20px;
    padding-top:10px;
}

/*Imagenes*/
.imagen_Receta{
    width:100%;
    margin-top:20px;
}
.imagen_Castillo{
    width:100%;
}
